*{
    box-sizing: border-box;
}

body{
    background: #444;
    color: #fff;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.health{
    background: #d42503;
}

.xp{
    background: #2e74de;
}

.up-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-bottom: 30px solid #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);  
}

.down-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 30px solid #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);    
}

.tracker{
    padding: 10px;
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100vh;
    max-height: 400px;
    max-width: 500px;
    border: 5px solid #333;
    vertical-align: top; /* reduces scroll with 100vh */
}

.xp{
    border-left: none;
}

.tracker h1{
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tracker h3{
    display: none;
}

@media screen and (max-width: 550px){
    .tracker{
        height: 50vh;
        width: 100%;
    }

    .xp{
        border-top: none;
        border-left: 5px solid #333;
    }
}

@media screen and (orientation: portrait){
    body{
        overflow: scroll;
    }
}

@media screen and (orientation: landscape){
    body{
        overflow: hidden;
    }
}