*{
    box-sizing: border-box;
}

body{
    background: #444;
    color: #fff;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.health, .bthealth{
    background: #d42503;
}

.bearhealth{
    background: #6d4c41;
}

.xp, .btxp{
    background: #2e74de;
}

.up-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-bottom: 30px solid #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);  
}

.down-arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 30px solid #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);    
}

.tracker{
    padding: 10px;
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100vh;
    /*max-height: 400px;
    max-width: 500px;*/
    border: 5px solid #333;
    vertical-align: top; /* reduces scroll with 100vh */
}

.bthealth, .bearhealth, .btxp {
    width: 33%;
}

.xp{
    border-left: none;
}

.tracker h1{
    font-size: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tracker h3{
    display: none;
}

.info-button{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.bt-button{
    background: none;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 10px;
}

.modal{
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, .8);
}

@media screen and (orientation: portrait){
    .tracker{
        height: 50vh;
        width: 100%;
    }

    .bearhealth, .bthealth, .btxp{
        height: 33vh;
    }

    .bearhealth h1, .bthealth h1, .btxp h1{
        font-size: 100px;
    }

    .xp{
        border-top: none;
        border-left: 5px solid #333;
    }

    body{
        overflow: scroll;
    }
}

@media screen and (orientation: landscape){
    body{
        overflow: hidden;
    }
}